@{
    ViewData["Title"] = "Message";
}
<style>
    #VideoDisplay, #imgPreview, #docImage {
        box-shadow: 0px 2px 15px #2e2e30fa;
    }

    .columnsHeader {
        cursor: pointer;
    }

    .frm-imput {
        border: 1px solid #bfbcbc;
        border-radius: 2px;
        padding: 6px;
    }

        .frm-imput:focus {
            outline: 1px solid #abd4eb;
        }
</style>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Message
        </h3>

    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-6">
                            <h4 class="card-title">
                                <i class="fas fa-wrench"></i> Header <small>(Optional)</small>
                            </h4>
                        </div>
                    </div>
                    <small>Add a title or which type of media you'll use for this header</small>
                    <div class="col-2 p-0 mt-2">
                        <select class="custom-select" id="headerType">
                            <option value="1">Text</option>
                            <option value="2">Media</option>
                        </select>
                    </div>
                    <section class="row mt-2 d-none p-2" id="mediaSection">
                        <input hidden type="file" accept="" id="HeaderFile" />
                        <div class="col-2">
                            <div class="outlines">
                                <input type="radio" name="mediaType" value="2" />
                                <i class="fa fa-file-image"></i>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="outlines">
                                <input type="radio" name="mediaType" value="1" />
                                <i class="fa fa-video"></i>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="outlines">
                                <input type="radio" name="mediaType" value="3" />
                                <i class="fas fa-air-freshener"></i>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <video controls class="d-none" id="VideoDisplay" width="300" height="180">
                                <source type="video/mp4">
                            </video>
                            <img id="imgPreview" src="#" class="d-none" alt="Please select an image" width="300" height="180" />
                            <img src="~/theme/images/documentImage.png" id="docImage" class="d-none" width="300" height="180" />
                        </div>
                    </section>
                    <section class="row mt-2 d-none p-2" id="sectionTextArea">
                        <input type="text" class="form-control" placeholder="Enter Header text" />
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-6">
                            <h4 class="card-title">
                                <i class="fas fa-wrench"></i> Body
                            </h4>
                        </div>
                    </div>
                    <small>Add numbers and message.</small>
                    <div class="row p-2">
                        <div class="col-2 p-0 mt-2">
                            <b>Send To</b>
                            <input type="file" accept=".xls,.xlsx" id="CSVNumbers" hidden />
                        </div>
                        <div class="col-2 p-0 mt-2">
                            <input type="radio" name="NumberType" value="1" class="" /> Numbers
                        </div>
                        <div class="col-2 p-0 mt-2">
                            <input type="radio" name="NumberType" value="2" class="" /> Upload CSV
                        </div>
                    </div>
                    <section class="mt-2 p-2" id="">
                        <div class="row d-none" id="numberBox">
                            <div class="col-2">
                                <label>Numbers</label>
                            </div>
                            <div class="col-10">
                                <textarea type="text" class="form-control" id="numberInput" placeholder="Enter numbers" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row d-none" id="CSVHeaderBox">
                            <div class="col-2">
                                <label>CSV Columns</label>
                            </div>
                            <div class="col-10">
                                <div class="keys"></div>
                            </div>
                        </div>
                        <div class="row mt-2" id="">
                            <div class="col-2">
                                <label>Message</label>
                            </div>
                            <div class="col-10">
                                <textarea type="text" class="form-control mt-2" id="msgBody" placeholder="Enter message" rows="4"></textarea>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-6">
                            <h4 class="card-title">
                                <i class="fas fa-wrench"></i> Footer <small>(Optional)</small>
                            </h4>
                        </div>
                    </div>
                    <small>Add a short line of text to the bottom of your message template.</small>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Enter text here" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-6">
                            <h4 class="card-title">
                                <i class="fas fa-wrench"></i> Buttons <small>(Optional)</small>
                            </h4>
                        </div>
                    </div>
                    <small>Create upto two buttons that let customers respond to your message or take action.</small>
                    <div class="row mt-2">
                        <div class="col-3">
                            <select class="form-control" id="ActionDDl">
                                <option value="0">None</option>
                                <option value="1">Call To Action</option>
                                <option value="2">Quick Reply</option>
                            </select>
                        </div>
                    </div>
                    <div id="callToActionBox">
                    </div>
                    <div id="qucikReply" class="mt-2 row" style="">
                    </div>
                    <div class="d-none" id="AddButtonBox">
                        <button type="button" class="btn btn-secondary text-dark" id="addBtn"> + Add Another Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
    <script src="~/js/messageTemplate.js"></script>
    @*Header JS*@
    @*<script>
        var headerType = $("#headerType");
        $('input[name=mediaType]').unbind().bind("click", function() {
            let __value = $(this).val();
            let __element = $("#HeaderFile");
            if (__value == '1') {
                __element.attr("accept", "video/mp4");
                __element.click();
                $("#docImage").addClass("d-none");
                VideoPreview(__element);
            }
            else if (__value == '2') {
                __element.attr("accept", "image/*").click().change(evt => {
                    let [file] = HeaderFile.files
                    if (file) {
                        imgPreview.src = URL.createObjectURL(file);
                    }
                    $("#VideoDisplay").addClass("d-none");
                    $("#imgPreview").removeClass("d-none");
                    $("#docImage").addClass("d-none");
                });
            }
            else if (__value == '3') {
                if (__value == '3') {
                    $('#HeaderFile').unbind();
                }
                __element.attr("accept", ".txt").click();
                $("#imgPreview").addClass("d-none");
                $("#VideoDisplay").addClass("d-none");
                $("#docImage").removeClass("d-none");
            }
        });
        $(document).ready(function() {
            CheckHeaderType();
        });
        headerType.change(function() {
            $("#imgPreview").addClass("d-none");
            $("#VideoDisplay").addClass("d-none");
            CheckHeaderType();
        });
        function CheckHeaderType() {
            if (headerType.val() == "2") {
                $("#mediaSection").removeClass("d-none");
                $("#sectionTextArea").addClass("d-none");
            }
            else {
                $("#sectionTextArea").removeClass("d-none");
                $("#mediaSection").addClass("d-none");
            }
        }
        function VideoPreview(inputObj) {
            var video = $("video");
            var input = inputObj;
            var duration = 0;
            var img = $("#imgPreview");
            input.on("change", function(e) {
                var file = e.target.files[0];
                if (["video/mp4"].indexOf(file.type) === -1) {
                    return;
                }
                video.find("source").attr("src", URL.createObjectURL(file));
                video.get(0).load();
                video.on("loadedmetadata", function(e) {
                    duration = video.get(0).duration;
                    video[0].currentTime = Math.ceil(duration / 2);
                    video.one("timeupdate", function() {
                    });
                });
                $("#VideoDisplay").removeClass("d-none");
                $("#imgPreview").addClass("d-none");
            });

        }
        //}
    </script>

    <script>
        var data = [{

        }]
        var excelData;
        var __NumberType = $('input[name=NumberType]');
        var __NumberBox = $('#numberBox');
        var __NumberInput = $('#numberInput');
        var __CSVHeaderBox = $('#CSVHeaderBox');
        __NumberType.click(function() {
            let __csvNumber = $(this).val();
            console.log(__NumberBox.val());
            if (__csvNumber == 2) {
                $("#CSVNumbers").click();
                __NumberBox.addClass("d-none");
                __NumberInput.val("");
                __CSVHeaderBox.removeClass('d-none');
                $('.keys').empty();
            }
            else {
                __NumberBox.removeClass("d-none");
                __CSVHeaderBox.addClass('d-none');
            }
        })

        $(".keys").delegate(".columnsHeader", "click", function() {
            let _clmHead = $(this).text();
            let _msgBody = $("#msgBody");
            let newtxt = _msgBody.val() + '{' + _clmHead + '} ';
            _msgBody.val(newtxt);
        });


        $('#CSVNumbers').change(() => {
            selectedFile = event.currentTarget.files[0]
            XLSX.utils.json_to_sheet(data, 'out.xlsx');
            if (selectedFile) {
                let fileReader = new FileReader();
                fileReader.readAsBinaryString(selectedFile);
                fileReader.onload = (event) => {
                    let data = event.target.result;
                    let workbook = XLSX.read(data, { type: "binary" });
                    workbook.SheetNames.forEach(sheet => {
                        let rowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheet]);
                        excelData = rowObject;
                        let keys = Object.keys(rowObject[0]);
                        $('.keys').empty().append(keys.map((item) => `<span class='mr-2 badge badge-outline-info columnsHeader'>${item}</span>`));
                    });
                }
            }
        })
    </script>*@
    }