<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Packages
        </h3>

    </div>



    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-6">
                            <h4 class="card-title">

                                <i class="fas fa-wrench"></i>
                                Package List

                            </h4>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th width="10%">#</th>
                                    @*<th> Action</th>*@
                                    <th width="20">Package</th>
                                    <th width="70%">Services</th>
                                    @*<th>IsActive</th>
                                    <th>Status</th>*@
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

@section scripts{
    <script>
        $(document).ready(function() {
            loadData();
        });
        function loadData() {
            $.ajax({
                type: 'get',
                url: '/Master/GetPackageMappingList',
                success: function(data) {
                    $('tbody').html(data);
                },
                error: function(data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        }
        $('#btncreateuser').click(function() {
            RenderForm(0);
        });
        function RenderForm(id) {
            $.ajax({
                type: 'post',
                url: '/Master/CreatePackage/',
                data: { id: id },
                success: function(data) {
                    Q.alert({
                        title: "Add Pachage",
                        body: data,
                        width: '500px',
                    });
                },
                error: function(data) {
                },
            });
        }
        function SaveCurrentData(clicked_id) {
            var ids = clicked_id.substr(clicked_id.indexOf("_") + 1);
            var trid = $("#" + clicked_id).closest('tr').attr('id');
            var IsActive = $('#' + clicked_id).is(":checked") ? true : false;
            var param = {
                ID : $("#Id_" + ids).val(), 
                MasterPackageID : $("#" + clicked_id).closest("tr").data().packageId,
                ServiceID : $("#ServiceId_" + ids).val(),
                IsActive : IsActive
            };
            $.ajax({
                type: 'post',
                url: '/Master/AddPackageMapping/',
                data: param,
                success: function(response) {
                    Q.notify(response.statusCode, response.responseText);
                     loadData();
                },
                error: function(response) {
                    console.log(response);
                },
            });
        }
    </script>
}
