
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Sender Numbers
        </h3>

    </div>


    
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-6">
                            <h4 class="card-title">

                                <i class="fas fa-wrench"></i>
                                 Sender Number List

                            </h4>
                        </div>
                        <div class="col-sm-6 col-6">
                          <button id="btncreateuser" class="btn btn-primary btn-sm float-right"
                        type="submit">
                     + Create New
                </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-light">
                                <tr>
                                     <th>#</th>
                                    <th>MobileNo</th>
                                    <th>API</th>
                                    <th>WID</th>
                                    <th>IsActive</th>
                                    <th>IsDefault</th>
                                    <th>IsAutoReply</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            loadData();
        });
        function loadData() {
            $.ajax({
                type: 'get',
                url: '/Master/GetSenderNoList',
                success: function(data) {
                    $('tbody').html(data);
                },
                error: function(data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        }
        $('#btncreateuser').click(function() {
            RenderForm(0);
        });
        function RenderForm(id) {
            $.ajax({
                type: 'post',
                url: '/Master/CreateSenderNo/',
                data: { id: id },
                success: function(data) {
                    Q.alert({
                        title: "Add Sender No.",
                        body: data,
                        width: '500px',
                    });
                },
                error: function(data) {
                },
            });
        }
    </script>
}
