.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.s-MessageDialog.s-AlertDialog.ui-draggable.ui-resizable {
    z-index: 999 !important;
}
.ui-dialog-titlebar-close {
    border-radius: 12px !important;
    border-color: #fff !important;
}
.ui-dialog-titlebar-close:after {
    content: "X";
}

.ui-widget-header {
    background: #00a850 !important;
    color: white !important;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.s-MessageDialog.s-AlertDialog.ui-draggable.ui-resizable {
    z-index: 9999 !important;
}

.ui-widget-overlay {
    opacity: unset;
    background: rgba(0,0,0,0.7);
    z-index: 999;
}

@media (max-width: 576px) {
    .ui-dialog {
        width: 98% !important;
        left: 1% !important;
    }
}