@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {

        Layout = @"Account/Manage/_Layout.cshtml";
    }
}

@*
<h2>Manage your account</h2>*@

@*<head>
   @RenderSection("head", false)
</head>*@
<link rel="stylesheet" href="~/theme/vendors/iconfonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="~/theme/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="~/theme/images/favicon.png" />


<div>
   @* <h4>Change your account settings</h4>*@
   @* <hr />*@
    <div class="row">
        @*<div class="col-md-3">
            <partial name="_ManageNav.cshtml" />
        </div>*@
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
   @RenderSection("Scripts", required: false)
}
  <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
  <script src="~/theme/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="~/theme/js/off-canvas.js"></script>
  <script src="~/theme/js/hoverable-collapse.js"></script>
  <script src="~/theme/js/misc.js"></script>
  <script src="~/theme/js/settings.js"></script>
  <script src="~/theme/js/todolist.js"></script>
  <!-- endinject -->
