@page
@model LoginModel


@{
    Layout = null;
    ViewData["Title"] = "Log in";
}


<link rel="stylesheet" href="~/theme/vendors/iconfonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/theme/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="~/theme/images/favicon.png" />
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="~/theme/images/logo.svg" alt="logo">
              </div>
              <h4>Welcome back!</h4>
              <h6 class="font-weight-light">Happy to see you again!</h6>
             <form id="account" method="post">
              <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Input.OTP"></label>
                    <input asp-for="Input.OTP" class="form-control" />
                    <span asp-validation-for="Input.OTP" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                   @* <p>
                        <a id="forgot-password" asp-page="./forgotpassword">forgot your password?</a>
                    </p>*@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
               
                @*<div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="register-2.html" class="text-primary">Create</a>
                </div>*@
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
 @* <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/misc.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>*@
  <!-- endinject -->
    <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
  <script src="~/theme/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="~/theme/js/off-canvas.js"></script>
  <script src="~/theme/js/hoverable-collapse.js"></script>
  <script src="~/theme/js/misc.js"></script>
  <script src="~/theme/js/settings.js"></script>
  <script src="~/theme/js/todolist.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
