@page
@model RegisterModel
@{
     Layout = null;
    ViewData["Title"] = "Register";
}

  <link rel="stylesheet" href="~/theme/vendors/iconfonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="~/theme/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="~/theme/images/favicon.png" />



  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="~/theme/images/logo.svg" alt="logo">
              </div>
              <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.Phone"></label>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Register</button>
                      <a type="submit"  id="login" asp-area="Identity" asp-page="/Account/Login" >Login</a>
            </div>
            
            
       
    
        </form>
              
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
  <script src="~/theme/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="~/theme/js/off-canvas.js"></script>
  <script src="~/theme/js/hoverable-collapse.js"></script>
  <script src="~/theme/js/misc.js"></script>
  <script src="~/theme/js/settings.js"></script>
  <script src="~/theme/js/todolist.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
