@model Whatsapp.Models.SenderNo


<div class="card">
    
    <div class="card-body">
        <form method="post" class="form-block"  action="/Master/AddSenderNo" >
            <div class="row">
                @if (Model == null)
                {
                    <input type="hidden" asp-for="Id" value="0" />
                }
                else
                {
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                }

                <div class="form-group col-sm-6">
                    <label>Mobile No</label>
                    <input type="text" class="form-control" asp-for="MobileNo" placeholder="Enter MobileNo">
                </div>
                <div class="form-group col-sm-6">
                    <label> Select API</label>
                    <select asp-for="ApiID"  class="custom-select form-control" asp-items="ViewBag.APIId">
                        <option id="0"> -- Select API -- </option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label>WID</label>
                    <input type="text" class="form-control" asp-for="WID" placeholder="Enter WID">
                </div>
                <div class="form-group col-sm-6">
                    <label class="form-check-label" for="IsActive">
                        IsActive
                    </label><br />
                    <label class="switch mt-2">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group col-sm-6">
                    <label class="form-check-label" for="IsDefault">
                        IsDefault
                    </label><br />
                    <label class="switch mt-2">
                        <input type="checkbox" class="form-check-input" asp-for="IsDefault">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group col-sm-6">
                    <label class="form-check-label" for="IsAutoReply">
                        IsAutoReply
                    </label><br />
                    <label class="switch mt-2">
                        <input type="checkbox" class="form-check-input" asp-for="IsAutoReply">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>


