@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="Home/State">Add State</a>
    <br />
    <a href="Home/City">Add Ctiy</a>
    <br />
    <a href="Home/GetStateCity">Get State & City</a>
</div>



