<form method="post" action="AddState">
    <div class="form-group">
        <label for="txtstate">State Name</label>
        <input type="text" class="form-control" name="StateName" id="txtstate" aria-describedby="state" placeholder="State Name">
        
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>